{% extends "base.html" %}

{% block content %}

<style>
body {background-color: coral;}
#letter {
    font-size: 18pt;
}
.letter-on {
    font-size: 28pt;
    background-color:orange;
    border-radius: 25px;
}
.row{
  margin-top: 0px;
  margin-bottom: 0px
}
.col{
  margin-top: 0px;
  margin-bottom: 0px
}
#passed-word {
    background-color:olive;
    font-size: 10pt;
}
#failed-word {
    background-color:tomato;
    font-size: 10pt;
}
</style>

<br>
<br>
<div class="d-flex justify-content-center">
    <div class="container mw-100" style="width:750px; min-width: 750px;">
        <div class="row">
            <!-- This is the board area -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3> {{ game.name}}</h3>
                    </div>
                    <div class="col">
                        <h3> 100</h3>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter class="letter-on">C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>C</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>A</h1>
                    </div>
                    <div class="col text-center">
                        <h1 id=letter>T</h1>
                    </div>
                </div>
                <div class="col text-center">
                    <small> {{ user.username }}</small> <br>
                    <input type=text> <input type="submit" value="guess">
                </div>
                <br>
                <div class="row no-gutters ">
                    <div class="col">
                         {% for rule in rules %}
                            <div class="row no-gutters justify-content-center"> <p>rule</p> </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- This is the words/players area -->
            <div class="col-sm-4">
                <div class="container" style="width:235px">
                    <div class="row">
                        <div class="col-sm bg-primary"> Words </div>
                    </div>
                    <div class="row overflow-auto " style="min-height:100px;max-height:200px;">
                        <div class="col">
                            {% for word in words %}
                            <div class="row">
                                <p id={{word.tag}}-word>word.text - word.player</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm bg-primary"> Players </div>
                    </div>
                    <div class="row overflow-auto" style="height:140px">
                        <div class="col">
                            {% for player in players %}
                                 <div class="row"> {{ player }} </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}