{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='play.js')}}"></script>
<style type="text/css">
<meta charset="UTF-8">
body{
    background-image: url("{{ background_image }}");
    background-position: center;

}
.letter {
    font-size: 16pt;
    min-width: 30px;
    margin:0px;
    padding:5px;
}
.letter_on {
    background-color:orange;
    border-radius: 15px;
}
.row{
  margin-top: 0px;
  margin-bottom: 0px
}
.col{
  margin-top: 0px;
  margin-bottom: 0px
}
.passing_word {
   padding: 3px;
   display: inline;
   margin-right:5px;
   background-color:olive;
   color:white
}

.failing_word {
   padding: 3px;
   display: inline;
   margin-right:5px;
   background-color:Sienna;
   color:white
}

.passing_word_count {
   display: inline;
   color:olive;
}

.failing_word_count {
   display: inline;
   color:Sienna;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Paging Dr. Frantastic!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Great job! You found the truth behind the words! Are you up for the next challenge?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Onward!</button>
        </div>
      </div>

    </div>
  </div>

<div class="d-flex justify-content-center">

    <div class="container rounded" style="margin-top:25px;width:850px; min-width: 850px;background-color:F4F6F6 ">

        <div class="row">
            <!-- This is the board area -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col">
                                L<b>{{ level_index }}</b>
                            </div>
                            <div class="col">
                                time left
                            </div>
                            <div class="col">
                                <h5 id="time"></h5>
                            </div>
                            <div class="col">
                                words left
                            </div>
                            <div class="col">
                                <h5 id=word_count></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                {% for row in board %}
                    {% set rowloop = loop %}
                    <div class="row justify-content-md-center no-gutters">
                        {% for letter in row %}
                        <div class="col col-md-auto text-center border bg-white">
                            <h1 id="letter_{{rowloop.index}}_{{loop.index}}" class="letter">{{ letter }}</h1>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br/>
                <div class="col text-center">
                    <small>{{ user.username }}</small> <br>
                    <input id=game_name type="hidden" value="{{ game.name }}">
                    <input id=player type="hidden" value="{{ user.username }}">
                    <input id=word_textbox type=text autocomplete="off"> <button id='addWordButton'>add word</button><br>
                    <small id="status">-</small>
                </div>
                <br>
                <div class="row no-gutters ">
                    <div id=hint class="col">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div id=passed_words class="col p-2">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div id=failed_words class="col p-2">
                    </div>
                </div>
            </div>
            <!-- This is the words/players area -->
            <div class="col-sm-4">
                <div class="container" style="width:235px">
                    <div class="row">
                        <div class="col-sm bg-info"> Players </div>
                    </div>
                    <div class="row overflow-auto border-left border-bottom rounded" style="height:450px">
                        <div id=player_list class="col">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:25px;">
            <button onclick="audio_toggle()" class="btn"><h id="audio_label">🔊</h></button>
        </div>
        <div class="row justify-content-center">
             <a href="{{link}}">{{link}}</a>
        </div>
        <div class="row justify-content-center" style="margin-bottom:10px;">
            <a href="https://discord.gg/fnTh288f9u">Join us on Discord</a>
        </div>
    </div>
</div>

{% endblock %}