{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='play.js')}}"></script>
<style type="text/css">

body{
    width:100%;
    height: 100%;
    background-image: url("{{ background_image }}");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#letter {
    font-size: 18pt;
    min-width: 44px
}
.letter-on {
    font-size: 28pt;
    background-color:orange;
    border-radius: 25px;
}
.row{
  margin-top: 0px;
  margin-bottom: 0px
}
.col{
  margin-top: 0px;
  margin-bottom: 0px
}
#passed-word {
    background-color:olive;
    font-size: 10pt;
}
#failed-word {
    background-color:tomato;
    font-size: 10pt;
}
.passing_word {
   padding: 3px;
   display: inline;
   margin-right:5px;
   background-color:olive;
}

.failing_word {
   padding: 3px;
   display: inline;
   margin-right:5px;
   background-color:tomato;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Paging Dr. Frantastic!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Great job! You found the truth behind the words! Are you up for the next challenge?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Onward!</button>
        </div>
      </div>

    </div>
  </div>

<div class="d-flex justify-content-center">

    <div class="container rounded" style="margin-top:25px;width:750px; min-width: 750px;background-color:F4F6F6 ">

        <div class="row">
            <!-- This is the board area -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3> {{ game.name}}</h3>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">

                            <div class="col">
                                Time
                            </div>
                            <div class="col">
                                <h5 id="time"></h5>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                Words
                            </div>
                            <div class="col">
                                <h5 id=word_count>100</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                {% for row in board %}
                    <div class="row justify-content-md-center no-gutters">
                        {% for letter in row %}
                        <div class="col col-md-auto text-center border bg-white">
                            <h1 id=letter class="letter">{{ letter }}</h1>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br/>
                <div class="col text-center">
                    <small>{{ user.username }}</small> <br>
                    <input id=game_name type="hidden" value="{{ game.name }}">
                    <input id=player type="hidden" value="{{ user.username }}">
                    <input id=word_textbox type=text> <button id='addWordButton'>add word</button><br>
                    <small id="status">-</small>
                </div>
                <br>
                <div class="row no-gutters ">
                    <div id=hint class="col">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div id=passed_words class="col p-2">
                    </div>
                </div>
                <div class="row no-gutters ">
                    <div id=failed_words class="col p-2">
                    </div>
                </div>
            </div>
            <!-- This is the words/players area -->
            <div class="col-sm-4">
                <div class="container" style="width:235px">
                    <div class="row">
                        <div class="col-sm bg-primary rounded">Words</div>
                    </div>
                    <div class="row overflow-auto bg-white" style="min-height:200px;max-height:300px;">
                        <div id=word_list class="col">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm bg-primary rounded"> Players </div>
                    </div>
                    <div class="row overflow-auto bg-white" style="height:140px">
                        <div id=player_list class="col">
                            {% for player in players %}
                                 <div class="row"> {{ player }} </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:25px;">
            Share:<a href="{{link}}">{{link}}</a>
        </div>
        <div class="row justify-content-center" style="margin-bottom:10px;">
            Great with Discord Audio:<a href="https://discord.gg/fnTh288f9u">Join us</a>
        </div>
    </div>
</div>

{% endblock %}