{% extends "base.html" %}

{% block content %}

<style>
    body {background-color: coral;}
</style>

<br />
<div class="d-flex justify-content-center">
    <form action="games" method="post">
        <div class="d-flex flex-column" style="width:400px">
            <div class="d-flex flex-row">
                <h3>Hello <input type="text" name='selected_name' value='{{ user.username }}'></h3>
            </div>
            <div class="d-flex flex-row">
                <p>welcome to Sourdough's Worlds of Lost Words. Create your own starter puzzle and see how long you your friends can kee it alive!</p>
            </div>
            <div class="d-flex flex-row justify-content-end">
                <input type="submit" value="let's go">
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-center">
     {{ stats.count }}
</div>

{% endblock %}